fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
python-jose
passlib[bcrypt]
python-dotenv
firebase-admin
apscheduler
pydantic-settings
python-json-logger
# Data Science & Pipelines
numpy==1.24.3
pandas==2.0.3
scikit-learn==1.2.2
joblib==1.2.0
apache-airflow==2.6.3
redis==4.5.5
openai
pytest
pytest-asyncio
httpx
kafka-python
# Observability
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp
prometheus-fastapi-instrumentator
opentelemetry-instrumentation-kafka-python
